.root {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    min-height: 100vh;
    width: var(--max-width);
    position: relative;
}

.debug {
    flex-grow: 1;
    background: #f6f6f6;
    padding: 16px;
}

.header {
    margin-bottom: 16px;
    display: flex;
}

.searchForm {
    flex-grow: 1;
    position: relative;
}

.filters {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.searchInput {
    padding-left: 36px;
    padding-right: 12px;
    min-height: 52px;
    width: 100%;
    font-size: 18px;
}

.loadingDot {
    position: absolute;
    left: 15px;
    top: 21px;
}

.resetBtn {
    position: absolute;
    top: 12px;
    right: 10px;
    height: 30px;
    width: 54px;
}

.content {
    display: flex;
}

.facets {
    flex-basis: 220px;
    margin-right: 32px;
    flex-shrink: 0;
    font-size: 14px;
}

.searchResults {
    flex-grow: 1;
}

.nav {
    font-size: 14px;
    margin-bottom: 16px;
}

.navList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.navListLink {
    margin-left: 16px;
}

@media screen and (max-width: 600px) {
    .facets {
        display: none;
    }

    .debug {
        display: none;
    }

    .showDebugger {
        display: none;
    }
}