.main {
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 100vh;
    max-width: var(--max-width);
    position: relative;
}

.header {
    position: relative;
    margin-bottom: 16px;
}

.filters {
    margin-bottom: 32px;
}

.searchInput {
    padding-left: 36px;
    padding-right: 12px;
    min-height: 52px;
    width: 100%;
    font-size: 18px;
}

.loadingDot {
    position: absolute;
    top: 19px;
    left: 14px;
}

.resetBtn {
    position: absolute;
    top: 12px;
    right: 10px;
    height: 30px;
    width: 54px;
}

.content {
    display: flex;
}

.facets {
    flex-basis: 25%;
    margin-right: 16px;
    flex-shrink: 0;
}

.searchResults {
    flex-grow: 1;
}

@media screen and (max-width: 480px) {
    .facets {
        display: none;
    }
}