.summary {
    font-size: 14px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header:hover .showMoreBtn {
    display: block;
}

.showMoreBtn {
    display: block;
    margin-left: 8px;

}

.showMoreBtnMargin {
    margin-bottom: 20px;
}

.date {
    font-size: 14px;
    color: #525252;
    margin-bottom: 4px;
}